@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 64px;

    a{
        font-size: 19px;
        font-weight: 530;
        margin-left: 18px;
    }

    .logo{
        font-size: 26px;
        font-weight: bold;
    }
    nav {
        display: flex;
        
    }
    .controls{
        display: flex;
    }
    .search{
        margin-left: 20px;
    }
    .cart{
        margin-left: 20px;
    }

}